:root {
    --c01:#f8f8ff;
    --c02: #053A5C;
    --c03:#38bd7c;
    --c04: #e4f7ef;
    --c05:#48BD8A;
    --c06:#d5f0e3;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background: var(--c03);
    color: var(--c01);
    transition: transform 0.2s ease;
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
} a {
    text-decoration: unset;
}

h1, h2, #show_planilhas a {
    font-family: 'Merriweather', serif;
}

html, body {
    margin:0;
}

.green_fill{fill:var(--c03)}
.green_stroke{stroke:var(--c03)}

#loading {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 999;
    background-color:var(--c01);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s ease, visibility 0.6s ease;
} #loading svg {
    width: clamp(12rem, 25vw, 20rem);
    overflow: visible;
} #loading svg rect {
    transform-origin: center;
    animation: load 6s ease infinite;
    transform:scale(0.9);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
} @keyframes load {
    0% {
        transform:scale(0.9);
    } 60% {
        transform:scale(1.1);
    } 70% {
        transform:scale(1.1);
    } 100% {
        transform:scale(0.9);
    }
}


main {
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 998;
} header a {
    text-decoration: none;
    color: var(--c05);
    padding: 1rem 0 1rem 1rem;
    margin: 0 1.5rem;
    display: inline-block;
    font-weight: 500;
    font-size: clamp(1.1rem, 5vw, 2rem);
} header img {
    height: 3rem;
} header .destaque {
    background: var(--c03);
    color: var(--c01);
    font-weight: 600;
}

#particle-canvas {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    position: fixed;
}

section article {
    margin: 0 2rem;
}

#sec01 {
    padding: 6rem 0 2rem 0;
} #sec04 {
    padding: 3rem 0 3rem 0;
} #sec04 {
    background-image: url(assets/pattern01.svg);
    background-size: 0.6rem 0.6rem, cover;
    background-color: #4f667b;
} #sec03 {
    padding: 5rem 0;
}

.a1.servicos  {
    background-image: url(assets/pattern01.svg);
    background-size: 0.4rem 0.4rem, cover;
    background-color: #4f667b;
}

#sec01, #sec03 {
    width: 100%;
} #sec02 {
    background: var(--c01);
    padding: 1rem 0;
    color: var(--c03);
} #sec02 article {
    padding: 4rem 0;
    text-align: center;
} #sec02 svg {
    width: clamp(5rem, 20vw, 9rem);
    display: block;
    margin: 0 auto;
} #sec02 h2 {
    font-size: clamp(2rem, calc(90vw - 19rem), 2.2rem);
    margin: 1.5rem 0 0.8rem 0;
} #sec04 h2 {
    font-size: clamp(2rem, 10vw , 2.6rem);
    margin: 1.5rem 0 0.8rem 0;
}  #sec02 p {
    font-size: clamp(1rem, 4vw, 1.2rem);
    line-height: clamp(1rem, 7vw, 1.5rem);
    margin: 0 0 0.8rem 0;
} .a2 {
    color: var(--c03);
    font-weight: 700;
    font-size: clamp(1rem, 4.2vw, 1.2rem);
    margin: 0.7rem 0 0 0;
    padding: 0.9rem 0;
    display: block;
    border: 2px solid var(--c06);
    font-family: 'Merriweather', serif;
} #sec03 h2 {
    font-size: clamp(2rem, calc(40vw - 7rem), 2.7rem);
    margin: 1rem 0;
} #sec03 h3, #sec04 h3 {
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 2rem);
    line-height: clamp(1.4rem, calc(8vw - 0.4rem), 2rem);
    margin: 1rem 0;
    font-weight: 300;
}

.flex_01 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: clamp(1.6rem, 10vw, 4rem);
    line-height: clamp(2.6rem, 13vw, 4rem);
    margin: 0 auto 1rem auto;
    font-weight: 900;
}

.a1 {
    position: relative;
    font-weight: 900;
    background: var(--c01);
    color: var(--c03);
    padding: 1.2rem 0.6rem 1.2rem 1.2rem;
    margin: 0 0 1rem 0;
    display: flex;
    align-items: center;
    color: var(--c01);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: clamp(0.8rem, calc(8vw - 0.3rem), 2rem);
    border-bottom: 0.4rem solid var(--c01);
} .a1 svg {
    width: clamp(3rem, calc(20vw - 1rem), 5rem);
    margin: 0 5vw 0 0;
    overflow: visible;
} .a1 p {
    font-size: clamp(0.9rem, calc(9vw - 1rem), 1.25rem);
    line-height: clamp(1.3rem, 7vw, 2rem);
    width: 70%;
    position: relative;
} .a1 p::after {
    content:'';
}

.arrow {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 0.4rem;
    height: 0.4rem;
    border-right: 0.2rem solid;
    border-top: 0.2rem solid;
}
.divisor01 {
    margin: 0 1.5rem;
    border-bottom: 3px solid var(--c01);
} .divisor02 {
    width: 2rem;
    border-top: 0.4rem solid var(--c01);
    margin: 1.5rem 0;
} .divisor03 {
    width: 24%;
    border-top: 0.2rem solid var(--c06);
    margin: 0 auto;
}




#hamburger {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.3rem 1.7rem 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
} #hamburger > div {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--c01);
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
} #hamburger > div > div {
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--c03);
    border-radius: 50%;
    position: absolute;
    transition: 0.3s ease;
} #hamburger > div > div:nth-child(1) {
    transform: translateX(-0.7rem);
} #hamburger > div > div:nth-child(3) {
    transform: translateX(0.7rem);
}

#hamb_ctnr {
    position: absolute;
    height: 100vh;
    background: rgb(228 247 239 / 90%);
    backdrop-filter: blur(1.5px);
    width: 75%;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-flow: column;
    font-size: 1.3rem;
    padding: 7rem 0 0 0;
}

.whitefill {
    animation: turn 5s linear infinite;
} @keyframes turn {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

#show_planilhas {
    background: rgba(0,0,0,0.05);
} #show_planilhas a {
    text-align: center;
    color: var(--c01);
    font-weight: 700;
} @keyframes planilhas {
    0% {
        transform: translateX(0%);
    } 10% {
        transform: translateX(0%);
    } 20% {
        transform: translateX(-100%);
    } 30% {
        transform: translateX(-100%);
    } 40% {
        transform: translateX(-200%);
    } 50% {
        transform: translateX(-200%);
    } 60% {
        transform: translateX(-300%);
    } 70% {
        transform: translateX(-300%);
    } 80% {
        transform: translateX(-400%);
    } 90% {
        transform: translateX(-400%);
    } 100% {
        transform: translateX(-500%);
    }
}

.quote {
    position:relative;
} .quote::before {
    content: '"';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    font-weight: 900;
}

#show_planilhas, #show_quotes {
    display: flex;
    width: 100%;
    padding: 0 2rem;
} #show_planilhas {
    backdrop-filter: blur(2px);
}

#show_planilhas a, #show_quotes .quote {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: none;
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 2rem);
    animation: planilhas 30s cubic-bezier(0.71, 0.09, 0, 1.04) infinite alternate;
    width: 100%;
    padding-right: 5rem;
}
.name {
    position: absolute;
    bottom: -1rem;
    right: 5rem;
}




form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
} input, textarea {
    padding: 0.8rem 1rem;
    border: none;
    background-color: rgba(255,255,255,0.05);
    margin: 0.6rem 0 1rem 0;
    color: var(--c01);
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 2rem);
} label {
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 2rem);
} textarea {

} #submit {
    font-size: 1.2rem;
    padding: 0.8rem 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    background: var(--c05);
    border: none;
    color: var(--c01);
    margin: 0.6rem 0 0 0;
}

input:focus, textarea:focus {
    outline:none;
    background-color: rgba(255,255,255,0.1);
}