:root {
    --c01:#fff;
    --c02: #003320;
    --c03:#00a76a;
    --c04: #e4f7ef;
    --c05:#00a064;
    --c06:#eaf7f1;
    --c07: #666666;
}

.logo_intro {
    transform: scale(0.9);
    transform-origin: center;
    animation: intro_loading 1.5s ease-in forwards, intro_loading2 1.5s ease forwards;
    opacity: 0;
} @keyframes intro_loading {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
} @keyframes intro_loading2 {
    0% {
        transform: scale(0.9);
    } 100% {
        transform: scale(1);
    }
}


html {
    font-size: clamp(16px, 1vw, 20px);
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background: var(--c03);
    color: var(--c01);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
    margin:0;
    cursor: default;
} a {
    text-decoration: unset;
}

h1, h2, .sub_button {
    font-family: 'Merriweather', serif;
}

html, body {
    margin:0;
}

.green_fill{fill:var(--c03)}
.green_stroke{stroke:var(--c03)}

#loading {
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index: 999;
    background: var(--c03) linear-gradient(30deg, var(--c03), #48e6a4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.6s cubic-bezier(0.4, 0, 0.2, 1);
} #loading svg {
    width: clamp(4rem, 20vw, 6rem);
    overflow: visible;
} #loading svg rect {
    transform-origin: center;
    animation: load 6s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    transform:scale(0.9);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
} @keyframes load {
    0% {
        transform:scale(0.9);
    } 60% {
        transform:scale(1.1);
    } 70% {
        transform:scale(1.1);
    } 100% {
        transform:scale(0.9);
    }
}


#logo {
    position: absolute;
    width: 2.3rem;
    top: 1.4rem;
    left: 2rem;
}

main {
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 998;
    height: 6rem;
} header a {
    text-decoration: none;
    color: var(--c05);
    padding: 1rem 0 1rem 1rem;
    margin: 0 1.5rem;
    display: inline-block;
    font-weight: 500;
    font-size: clamp(1rem, 1vw, 1.1rem);
} header img {
    height: 3rem;
} header .destaque {
    background: var(--c03);
    color: var(--c01);
    font-weight: 600;
}

#particle-canvas {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    position: fixed;
}

section article {
    margin: 0 2rem;
}

#sec01 {
    padding: clamp(2rem, 26vw, 8rem) 0 3rem 0;
    position: relative;
} #sec04 {
    padding: clamp(1rem, 6vw, 5rem) 0;
}

#sec01, #sec03 {
    width: 100%;
} #sec02 {
    background: var(--c01);
    padding: 3.8vw 0;
    color: var(--c03);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
} #sec02 article {
    padding: 4rem 0;
    width: clamp(20rem, 65vw, 22rem);
    text-align: center;
    position: relative;
} #sec02 svg {
    width: clamp(5rem, 20vw, 6rem);
    height: clamp(5rem, 20vw, 6rem);
    display: block;
    margin: 0 auto;
} #sec02 h2 {
    font-size: clamp(1.7rem, calc(90vw - 19rem), 2rem);
    margin: 1.5rem 0 0.8rem 0;
}   #sec04 h2  {
    font-size: clamp(1.2rem, calc(13vw - 1rem), 3.2rem);
    margin: 0 0 1.5rem 0;
    color: var(--c01);
    font-weight: 900;
}  #sec02 p {
    font-size: clamp(1rem, 4vw, 1rem);
    line-height: clamp(1rem, 7vw, 1.5rem);
    margin: 0 0 0.8rem 0;
    color: var(--c07);
} #sec02 strong, #sec02 b, #sec02 strong a {
    color: var(--c03);
} #sec02 strong a {
    text-decoration: underline;
} .a2 {
    color: var(--c03);
    font-weight: 700;
    font-size: clamp(0.9rem, 4vw, 0.95rem);
    margin: 0.7rem auto 0;
    padding: 0.6rem 0;
    display: block;
    font-family: 'Merriweather', serif;
    width: clamp(15rem, 84vw, 20rem);
    position: relative;
    background-color: #eafef3;
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
} .external01::before {
    content: url(assets/external.svg);
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    top: 0.5rem;
    left: 0.8rem;
} #sec03 h2 {
    font-size: clamp(2rem, calc(40vw - 7rem), 2.7rem);
    margin: 1rem 0;
} #sec03 h3, #sec04 #flex02 h3 {
    font-size: clamp(0.95rem, 1.05vw, 1.1rem);
    line-height: clamp(1.3rem, 5vw, 1.6rem);
    margin: 1rem 0;
    font-weight: 100;
} .a2:hover {
    background-color:var(--c01);
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1);
}

.flex_01 {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: clamp(1.2rem, calc(9.8vw - 0.65rem), 3.2rem);
    line-height: clamp(1.2rem, 10vw, 4.1rem);
    font-weight: 900;
    max-width: 38rem;
}

.bt_flex {
    display: flex;
    align-items: self-end;
    flex-flow: row wrap;
} .bt_flex > div {
    width: 100%;
}
.a1 {
    height: clamp(5.5rem, 33vw, 6rem);
    position: relative;
    width: 100%;
    font-weight: 900;
    background: var(--c01);
    color: var(--c03);
    padding: 1rem 0.6rem 1rem 1.2rem;
    display: flex;
    align-items: center;
    color: var(--c01);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(2px);
    font-weight: 500;
    font-size: clamp(0.8rem, calc(8vw - 0.3rem), 2rem);
    border-bottom: 0.4rem solid rgba(255,255,255,0.2);
    box-sizing: border-box;
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 1rem;
} .a1 svg {
    width: clamp(3rem, calc(22vw - 2rem), 3.6rem);
    margin: 0 clamp(0.5rem, 1vw, 1.5rem) 0 0;
    overflow: visible;
} .a1 p {
    font-size: clamp(0.9rem, calc(6.2vw - 0.4rem), 1.1rem);
    line-height: clamp(1.3rem, 7vw, 1.5rem);
    width: 70%;
    position: relative;
    cursor: pointer;
} .a1.servicos  {
    font-weight: 100;
} .a1:hover {
    background: rgba(255,255,255,0.15);
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1);
} .sub_button:hover {
    background: rgba(255,255,255,0.15);
    transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1);
} .sub_button {
    display: flex;
    overflow: hidden;
    transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.05);
}

.sub_button a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: none;
    font-size: 0.98rem;
    letter-spacing: 0.04rem;
    width: 100%;
    padding: 1rem 0;
}

#show_planilhas a, #show_quotes .quote {
    animation: planilhas 30s cubic-bezier(0.71, 0.09, 0, 1.04) infinite alternate;
}
.name {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
}


.arrow {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 0.4rem;
    height: 0.4rem;
    border-right: 0.2rem solid;
    border-top: 0.2rem solid;
}
.divisor01 {
    margin: 0 1.5rem;
    border-bottom: 3px solid var(--c01);
} .divisor02 {
    width: 2rem;
    border-top: 0.4rem solid var(--c01);
    margin: 1.5rem 0;
} .divisor03 {
    width: 24%;
    border-top: 0.2rem solid var(--c06);
    margin: 0 30vw;
} .divisor04 {
    height: 0.9rem;
}




#hamburger {
    position: fixed;
    right: 0;
    top: 0;
    padding: 1.4rem 1.7rem 1.1rem 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
} #hamburger > div {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background-color: var(--c01);
    transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
} #hamburger > div > div {
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--c03);
    border-radius: 50%;
    position: absolute;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
} #hamburger > div > div:nth-child(1) {
    transform: translateX(-0.7rem);
} #hamburger > div > div:nth-child(3) {
    transform: translateX(0.7rem);
}

#hamb_ctnr {
    position: fixed;
    height: 100vh;
    background: rgb(255 255 255 / 90%);
    backdrop-filter: blur(2px);
    width: 75%;
    max-width: 24rem;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-flow: column;
    font-size: 1.3rem;
    padding: 7rem 0 0 0;
}

.whitefill {
    animation: turn 5s linear infinite;
} @keyframes turn {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

.sub_button a {
    text-align: center;
    color: var(--c01);
    font-weight: 700;
} @keyframes planilhas {
    0% {
        transform: translateX(0%);
    } 10% {
        transform: translateX(0%);
    } 20% {
        transform: translateX(-100%);
    } 30% {
        transform: translateX(-100%);
    } 40% {
        transform: translateX(-200%);
    } 50% {
        transform: translateX(-200%);
    } 60% {
        transform: translateX(-300%);
    } 70% {
        transform: translateX(-300%);
    } 80% {
        transform: translateX(-400%);
    } 90% {
        transform: translateX(-400%);
    } 100% {
        transform: translateX(-500%);
    }
}

.quote {
    position:relative;
}.quote p {
    margin: 0 3rem;
    position: relative;
    font-size: clamp(1.1rem, 1.5vw, 2rem);
    line-height: clamp(1.7rem, 2.3vw, 2.5rem);
}

#a_intro {
    text-align: center;
    color: var(--c01);
    padding: 4rem 0;
    display: block;
    font-size: clamp(1rem, calc(10vw - 1rem), 1.4rem);
    font-family: 'Merriweather';
    font-weight: 600;
    position: relative;
} #a_intro .arrow {

}





form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
} input, textarea {
    padding: 0.6rem 0.9rem;
    background: none;
    margin: 0.3rem 0 0.9rem 0;
    color: var(--c01);
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 1rem);
    backdrop-filter: blur(2px);
    border: none;
    border-radius: 0.2rem;
    background-color: rgba(255,255,255,0.1);
    transition: background-color 0.2s ease;
} label {
    font-size: clamp(0.9rem, calc(6vw - 0.4rem), 1rem);
    display: flex;
    flex-flow: column;
} textarea {
    min-width: 100%;
    box-sizing: border-box;
    min-height: 5rem;
    max-width: 100%;
    max-height: 30rem;
    height: 10rem;
} #submit {
    font-size: 1rem;
    padding: 0.8rem 0;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    background: var(--c01);
    border: none;
    color: var(--c03);
    margin: 0.6rem 0 0 0;
    cursor: pointer;
}

input:hover, textarea:hover {
    background-color: rgba(255,255,255,0.12);
} input:focus, textarea:focus {
    outline:none;
    background-color: rgba(255,255,255,0.15);
}

#sec02 article a:first-of-type {
    margin-top: 1.2rem;
}

.external_link {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.6rem;
    height: 0.6rem;
    background: var(--c03);
    pointer-events: none;
    padding: 0.3rem;
}


footer {
    padding: 0.4rem 0;
    font-family: 'Merriweather Sans';
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: var(--c01);
    font-size: clamp(0.7rem, 3vw, 0.8rem);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2rem;
    color: var(--c03);
    font-weight: 900;
}

#politicas_venda {
    position: fixed;
    z-index: 999;
    top: 6rem;
    left: 2rem;
    right: 2rem;
    bottom: 6rem;
    background: var(--c01);
    overflow-y: scroll;
    box-shadow: 0 0 5rem -2rem var(--c02);
    padding: 0 2rem 2rem 2rem;
    border-radius: 0.4rem;
    transition: transform 0.3s ease, opacity 0.2s ease, visibility 0.2s ease;
    transform:translateY(1rem);
    opacity:0;
    visibility: hidden;
    width: clamp(10rem, 100vw, 24rem);
    margin: 0 auto;
} #politicas_venda h4 {
    color: var(--c03);
    font-size: clamp(1.2rem, calc(9vw - 0.5rem), 1.3rem);
    margin: 2rem 0 0.6rem 0;
} #politicas_venda p {
    color: var(--c02);
    font-size: clamp(0.9rem, 4vw, 0.95rem);
    line-height: clamp(0.9rem, 6vw, 1.5rem);
}

.ndsajndsa9adsnadsj, .nsdaosnas9uadsn, .st2 {
    animation: stroke01 0.6s linear infinite;
}

@keyframes stroke01 {
    0% {
        stroke-dashoffset:0;
    } 100% {
        stroke-dashoffset:-10px;
    }
}

small {
    display: inline-block;
    line-height: 1.4rem;
    background: rgb(255 255 255 / 15%);
    text-align: center;
    font-weight: 900;
    border-radius: 0.2rem;
    margin: 0.4rem 0 0 0;
    padding: 0.05rem 0.6rem;
    font-size: clamp(0.8rem, calc(5vw - 0.4rem), 0.85rem);
}



::selection, .span01 {
    color: var(--c03);
    background: #eee;
} .span01 {
    padding: 0 0.9rem;
}

#go_up {
    position: fixed;
    bottom: 4rem;
    right: 0;
    width: clamp(2rem, 14vw, 3rem);
    height: clamp(2rem, 14vw, 3rem);
    background-color: var(--c01);
    padding: 0 2rem 0 0;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
} #go_up::after {
    content: '';
    position: absolute;
    left: 1.5rem;
    width: 0.4rem;
    height: 0.4rem;
    transform: translateY(1.3rem) rotate(45deg);
    border-left: 0.2rem solid var(--c03);
    border-top: 0.2rem solid var(--c03);
}









































@media (min-width:100vh) {


    .bt_flex > div:first-child {
        margin-right: 2vw;
    }    

    section article {
        margin:0;
    }

    #sec01, #sec03 {
        margin: 0 auto 0 8vw;
    }

    #logo {
        left: 8vw;
    }

    #planilha_ctnr {
        box-shadow: 1rem 0 5rem -2rem black;
        position: absolute;
        right: 0;
        top: 4rem;
        bottom: -0.5rem;
        width: clamp(0rem, calc(104vw - 44rem), 70rem);
        transform: perspective(500px) rotate3d(0, -1, 0, 16deg);
    }
    .planilha {
        position: absolute;
        opacity: 0;
        width: 100%;
        background-size: cover;
        height: 100%;
    } .planilha:nth-of-type(1) {
        background-image: url(assets/print.jpg);
        opacity: 1;
    } .planilha:nth-of-type(2) {
        background-image: url(assets/print1.jpg);
        animation: planilhashow 5s 5s ease infinite alternate;
    } .planilha:nth-of-type(3) {
        background-image: url(assets/print2.jpg);
        animation: planilhashow 5s 10s ease infinite alternate;
    } .planilha:nth-of-type(4) {
        background-image: url(assets/print3.jpg);
        animation: planilhashow 5s 15s ease infinite alternate;
    } .planilha:nth-of-type(5) {
        background-image: url(assets/print4.jpg);
        animation: planilhashow 5s 20s ease infinite alternate;
    }

    
    @keyframes planilhashow {
        0% {
            opacity: 0;
        } 100% {
            opacity: 1;
        }
    }



    #flex02 {
        display: flex;
        flex-flow: row wrap;
        margin: 1rem 0;
        justify-content: space-between;
    } #flex02 > div {
        width: clamp(20rem, 40vw, 40rem);
    } #flex02 > div:first-child {
        width: clamp(24rem, 50vw, 42rem);
        margin-left: 8vw;
    }

    form {
        width: clamp(20rem, 30vw, 30rem);
        margin: 0 0 0 1vw;
    }

    #show_quotes {
        width: 41%;
    }

    .bt_flex > div, .a1.servicos {
        width: clamp(15rem, 24vw, 18rem);
    }

    #hamburger > div {
        transition: none;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: var(--c01);
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--c05);
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: var(--c05);
      }

      #politicas {
          cursor: pointer;
          user-select: none;
      }
}




















































@media (min-width:1000px) {


    #hamburger {
        display: none;
    }

    #hamb_ctnr {
        transform: none;
        height: 100%;
        padding: 0;
        background: none;
        color: var(--c01);
        max-width: unset;
        width: unset;
        backdrop-filter: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        position: relative;
        left: 12vw;
        display: flex;
        align-items: center;
        backdrop-filter: blur(2px);
    }

    header a {
        color: var(--c01);
        padding: 0 2rem;
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        transition: background-color 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    } header .destaque {
        background:none;
    } header a:hover {
        background-color:rgba(255,255,255,0.06);
        transition: background-color 0s cubic-bezier(0.4, 0, 0.2, 1);
    }


    .divisor01 {
        display: none;
    } .divisor03 {
        width: 0;
        height: 12rem;
        border-top: none;
        border-right: 0.2rem solid #eaf7f1;
        margin: 0;
        position: relative;
        top: 7rem;
        margin: 0 clamp(2rem, calc(8vw - 4rem), 10rem);
    }

    #sec04 h2 {
    }
}









